@model MaromFit.Models.ViewModel.UserPlanViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">

    @{
        var minhaClasse = Model.Plans.Count > 1 ? "classeTeste" : null;
    }

    <div class="row">
        <div class="col-md-12 visible-md visible-lg text-center">
            <img src="~/Images/SmartFitG.png" width="700" height="250"/>
            <h3>MaromFit Academia</h3>
        </div>
        <div class="col-sm-12 hidden-md hidden-lg text-center">
            <img src="~/Images/SmartFitP.jpg" style="border-radius:50%" />
            <h3>MaromFit Academia</h3>
        </div>
    </div>

    

</div>
